body{font-family: Arial;
    margin:0;
    background-color:#ebed66;
    	}
a{
text-decoration: none;
    	}
.top{
    display: flex; 
    background-color: white;
    margin:0;
    border:7px solid;
    border-color: black;
}
.top p{
margin:20px 35px;
font-size: 25px;
font-weight: bold;
}
 .container{
text-align: center;
        }

.kind{
    font-size: 65px;
    font-weight: bold;

}

h1{
    font-size: 65px;
    margin:60px 300px;
    border:10px solid;
    border-color: black;
    background-color: white;
}
h2{
    font-size: 35px;
    font-weight: bold;   
}

button{
    font-size: 50px;
    border-radius: 20px;
}
.edit{
    margin-top: 45px;
    text-align: center;

}
form{
    display: inline-block;
}
input{
    margin:6px 12px;
    font-size: 20px;
}
.rhome{
    font-size: 25px;
    font-weight: bold;
    border-radius: 20%;
}
.oss{
    text-align: center;
}
.ohome{
    
    font-size: 30px;
    
    border-radius: 30px;

}
.lhome{
    font-size: 30px;
}

.form{
    font-weight: bold;
    font-size: 15px;
}
.greet{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.user-name{
    color:blue;
}
.chome{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
